<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Everyday Carry</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <div class="site-header">
        <h1 class="site-title"><a href="/">Everyday Carry</a></h1>
        <nav class="site-nav" aria-label="Main navigation">
          <a href="/">Home</a>
        </nav>
      </div>
    </header>

    <main role="main">
      {{ content | safe }}
    </main>

    <footer>
      <small>&copy; {{ (new Date()).getFullYear() }} Everyday Carry</small>
    </footer>
  </body>
</html>